altair==5.4.0
langchain
langchain_community==0.2.11
langchain_core==0.2.29
langchain_groq==0.1.9
langgraph==0.2.3
nltk==3.7
pandas==1.4.2
pymssql==2.3.0
python-dotenv==1.0.1
python_dateutil==2.8.2
PyYAML==6.0.2
scikit_learn==1.0.2
streamlit==1.37.1
